@model aspnetcoremaster.core.Model.InventoryModel
@{
    ViewData["Title"] = "Order";
}


<br /><br /><br /><br /><br /><br />

 <form>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4">
                    <label asp-for="InventoryCode">Inventory Code</label>
                    <input type="text" asp-for="InventoryCode" class="form-control" placeholder="Inventory code" id="InventoryCode" />
                    @Html.ValidationMessageFor(model => model.InventoryCode, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-4">
                    <label asp-for="CreatedDate">Inventory Date</label>
                    @Html.Editor("InventoryDate", new { htmlAttributes = new { @class = "form-control mydatepicker", @placeholder = "Inventory date", id = "InventoryDate" } })
                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-4">
                    <label asp-for="InventoryCode">Inventory Status</label>
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @placeholder = "Inventory Status", id = "Status" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <br />
                <div class="col-md-4">
                    <label asp-for="CustomerId">Customer</label>
                    @Html.DropDownList("Customer", new SelectList(string.Empty, "Value", "Text"), "select customer", new { @class = "form-control", id = "Customer" })
                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4 ">
                    <br />
                    <input type="button" value="Add Products" data-toggle="modal" data-target="#loginModal" class="button primary" />
                </div>
            </div>



            <div class="col-md-10 col-md-offset-1">
                <br />
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Product Id</td>
                            <td>Product Name</td>
                            <td>Price </td>
                            <td>Quantity</td>
                            <td>Amount</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="Items">
                            
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <br />
                <div class="col-md-3 col-md-offset-8">
                    <label asp-for="TotalAmount">Total Amount</label>
                    <input type="text" asp-for="TotalAmount" class="form-control" placeholder="Total Amount" id="TotalAmount" />
                    @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3 col-md-offset-8">
                    <label asp-for="GivenAmount">Given Amount</label>
                    <input type="text" asp-for="GivenAmount" id="GivenAmount" class="form-control" placeholder="Given Amount" />
                    @Html.ValidationMessageFor(model => model.GivenAmount, "", new { @class = "text-danger" })

                </div>

                <div class="col-md-3 col-md-offset-8">
                    <label asp-for="ChangeAmount">Change Amount</label>
                    <input type="text" asp-for="ChangeAmount" class="form-control" id="ChangeAmount" placeholder="Change Amount"  />
                    @Html.ValidationMessageFor(model => model.ChangeAmount, "", new { @class = "text-danger" })
                    <br />
                </div>

                <div class="col-md-3 col-md-offset-8">
                    <input type="submit" value="Save Order" class="button success" id="btnSubmit" />
                </div>

            </div>
        </div>
  </form>


    <!--modal form-->
    <div class="row">
        <div class="col-md-6">
            <div class="modal fade bs-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <h4 class="modal-header">Select Product</h4>
                        <div class="modal-body">
                            <div class="container">
                                <div class="col-md-3">
                                    <label class="control-label">Category</label>
                                    @Html.DropDownList("Category", new SelectList(string.Empty, "Value", "Text"), "select Category", new { @class = "form-control", id = "Category" })

                                    <div>
                                        <label class="control-label">Description</label>
                                        @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control", id = "Description", @readonly = "readonly" } })

                                        <label class="control-label">Price</label>
                                        @Html.Editor("Price", new { htmlAttributes = new { @class = "form-control", id = "Price", @readonly = "readonly" } })
                                        <br />
                                    </div>
                                </div>
                                <div class="col-md-3">

                                    <label class="control-label">Product</label>
                                    @Html.DropDownList("Product", new SelectList(string.Empty, "Value", "Text"), "select Product", new { @class = "form-control", id = "Product" })

                                    <label class="control-label">Quantity</label>
                                    @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control", id = "Quantity" } })

                                    <label class="control-label">Amount</label>
                                    @Html.Editor("Amount", new { htmlAttributes = new { @class = "form-control", id = "Amount", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <a id="btnAdd" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </a>
                            <a id="BtnClose" class="btn btn-danger" data-dismiss="modal">
                                <span class="glyphicon glyphicon-off"></span> Close
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" />
        <script src="~/js/orderScript.js"></script>
    }

